selenium
beautifulsoup4
requests
pandas
numpy
webdriver-manager
nltk
openpyxl
scikit-learn
fuzzywuzzy
boto3
captcha-solver
amazoncaptcha
python_anticaptcha
apache-airflow
# .\venv\Scripts\Activate.ps1